---
import AnimatedGradientText from '@/components/ui/gradient-text';
import { cn } from '@/lib/utils';

import Layout from '@/layouts/Layout.astro';
---

<Layout title='My thoughts' description='Blog'>
  <main class='main-container sm:grid sm:place-content-center'>
    <h1 class='invisible'>Blog</h1>
    <div class='z-10 flex min-h-[16rem] items-center justify-center md:mb-40'>
      <AnimatedGradientText>
        <span
          class={cn(
            `p-4 text-xl sm:text-6xl inline animate-gradient bg-gradient-to-r from-[#dc2626] via-[#D2B48C] to-[#fff6f4] bg-[length:var(--bg-size)_100%] bg-clip-text text-transparent`
          )}
        >
          Coming soon
        </span>
      </AnimatedGradientText>
    </div>
  </main>
</Layout>
