---
import { Card } from '@/components/ui/card';
import { Separator } from '@/components/ui/separator';
import Layout from '../layouts/Layout.astro';
import { Particles } from '@/components/ui/particles';
---

<Layout title='About Me'>
  <main class='main-container xl:grid xl:place-content-center'>
    <Particles
      client:idle
      className='absolute inset-0 -z-10'
      quantity={1000}
      ease={80}
      color={'#000000'}
      refresh
    />
    <div
      class='flex flex-col lg:flex-row gap-2 max-w-[90%] mx-auto relative p-4 rounded-3xl items-center'
    >
      <picture
        class='my-8 sm:my-0 w-[250px] relative aspect-square lg:aspect-[9/16] rounded-xl !bg-top lg:bg-center'
      ></picture>
      <Separator orientation='vertical' className='hidden lg:block lg:mx-12' />
      <Card
        className='lg:flex-[3] h-full lg:max-w-[90%] lg:mx-auto border-0 p-4 shadow-none flex flex-col justify-between [&>h2]:text-xl gap-4'
      >
        <h2 class='font-bold'>Embracing Curiosity and Diversity</h2>
        <p class='leading-6'>
          My professional journey is a testament to my innate curiosity and a
          constant desire to embrace new challenges, on the path to becoming my
          best self. With a foundation in political science and sustainable
          development, I sparked a genuine interest in web3 and blockchain
          technology as soon as I encountered them. Over the years, I have
          ventured into diverse sectors including aviation, real estate
          development, finance, decentralised finance (DeFi), sustainability,
          and legislation. These varied experiences have broadened my
          understanding of different industries and enhanced my ability to
          approach problems with innovative solutions and a fresh, integral
          perspective.
        </p>
        <h2 class='font-bold'>Cultivating Skills and Driving Impact</h2>
        <p class='leading-6'>
          This diverse experience has nurtured my skill set and expanded my
          knowledge. In the realms of marketing and communication, I’ve honed my
          abilities as a community manager, copywriter, and public relations
          manager, gaining expertise in community engagement, creative writing,
          and project management. My research and legislative consulting roles
          have sharpened my analytical skills, enabling me to understand complex
          scenarios, conduct data analysis, and create comprehensive reports.
          Furthermore, my time in aviation has taught me effective time
          management, prioritization, teamwork, and the ability to handle
          high-pressure situations with grace. Altogether, these experiences
          have equipped me with a unique blend of skills I bring to every
          project I undertake, aiming to forge new paths and create a lasting
          impact.
        </p>
      </Card>
    </div>
    <h1 class='invisible'>About me</h1>
    <!-- <div class='block h-10'></div> -->
  </main>
</Layout>
<style>
  picture {
    flex-shrink: 0;
    background: url('/tatu.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
  }

  picture::after {
    content: '';
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    background: inherit;
    filter: blur(15px) contrast(200%);
    border-radius: 50%;

    z-index: -1;
  }
</style>
