---
import { Card } from '@/components/ui/card';
import { Separator } from '@/components/ui/separator';
import Layout from '../layouts/Layout.astro';
import { Particles } from '@/components/ui/particles';
---

<Layout title='About Me' description='Lorem ipsum dolor sit amet'>
  <main class='main-container md:grid md:place-content-center'>
    <Particles
      client:idle
      className='absolute inset-0 -z-10'
      quantity={1000}
      ease={80}
      color={'#000000'}
      refresh
    />
    <div
      class='flex flex-col lg:flex-row gap-2 max-w-[90%] mx-auto 2xl:mb-40 relative p-4 rounded-3xl items-center'
    >
      <picture
        class='w-[250px] relative aspect-square lg:aspect-[9/16] rounded-xl !bg-top lg:bg-center'
      ></picture>
      <Separator orientation='vertical' className='hidden lg:block lg:mx-12' />
      <Card
        className='lg:flex-[3] h-full lg:max-w-[90%] lg:mx-auto border-0 p-4 shadow-none flex flex-col justify-between [&>h2]:text-xl gap-4'
      >
        <h2>What is Lorem Ipsum?</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae
          ultricies leo integer malesuada nunc vel risus commodo viverra.
          Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis
          eleifend quam adipiscing. In hac habitasse platea dictumst vestibulum.
          Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis
          egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum
          lorem. Varius sit amet mattis vulputate enim. Habitasse platea
          dictumst quisque sagittis. Integer quis auctor elit sed vulputate mi.
          Dictumst quisque sagittis purus sit amet.
        </p>
        <h2>What is Lorem Ipsum?</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae
          ultricies leo integer malesuada nunc vel risus commodo viverra.
          Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis
          eleifend quam adipiscing. In hac habitasse platea dictumst vestibulum.
          Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis
          egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum
          lorem. Varius sit amet mattis vulputate enim. Habitasse platea
          dictumst quisque sagittis. Integer quis auctor elit sed vulputate mi.
          Dictumst quisque sagittis purus sit amet.
        </p>
      </Card>
    </div>
  </main>
</Layout>
<style>
  picture {
    flex-shrink: 0;
    background: url('/public/tatu.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
  }

  picture::after {
    content: '';
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    background: inherit;
    filter: blur(15px) contrast(200%);
    border-radius: 50%;

    z-index: -1;
  }
</style>
