---
import { Icons } from '@/components/ui/icons';
import Layout from '../layouts/Layout.astro';
import { Separator } from '@/components/ui/separator';
import { ContactForm } from '@/components/ContactForm';
import { ShineBorder } from '@/components/ui/shine-pulse';
import { EMAIL, FULL_NAME } from '@/config/consts';
import { AnimatedShinyText } from '@/components/ui/shiny-text';
import { Particles } from '@/components/ui/particles';

const mode = import.meta.env.MODE;
---

<Layout title={`Contact | ${FULL_NAME}`}>
  <main class='main-container md:grid md:place-content-center relative'>
    <Particles
      client:idle
      className='absolute inset-0 -z-10'
      quantity={1000}
      ease={80}
      color={'#000000'}
      refresh
    />
    <div
      class='flex md:justify-start lg:justify-center items-center lg:items-center flex-col m-4 sm:0 h-full md:h-min lg:h-full overflow-y-scroll'
    >
      <ShineBorder color={['#dc2626', '#D2B48C', '#FFBE7B', '#fff6f4']}>
        <div>
          <div class='px-8 pt-6'>
            <h1 class='text-2xl'>Contact me</h1>
            <p class='text-center'>
              <AnimatedShinyText>
                Always eager to collaborate. Let's connect!
              </AnimatedShinyText>
            </p>
          </div>
          <ContactForm client:load mode={mode} />
          <div class='flex flex-row gap-2 items-center relative'>
            <div class='flex-1'>
              <Separator orientation='horizontal' />
            </div>
            <p class='text-center'>
              <span class='text-sm'>or</span>
            </p>
            <div class='flex-1'>
              <Separator orientation='horizontal' />
            </div>
          </div>
          <div class='flex flex-row justify-center gap-6 my-4'>
            <a
              href={`mailto:${EMAIL}`}
              class='size-[32px] flex items-center justify-center p-[1px]'
              rel='noreferrer noopener nofollow'
            >
              <Icons.Mail className='size-full' /></a
            >
            <a
              href='https://api.whatsapp.com/send?phone=351968855958'
              class='size-[30px] flex items-center justify-center p-[3px]'
              rel='noreferrer noopener nofollow'
            >
              <Icons.Whatsapp className='size-full' /></a
            >
            <a
              href='https://t.me/tatumelg'
              class='size-[30px] flex items-center justify-center p-[3px]'
              rel='noreferrer noopener nofollow'
            >
              <Icons.Telegram className='size-full' />
            </a>
          </div>
        </div>
      </ShineBorder>
      <div class='block sm:h-20 lg:hidden'></div>
    </div>
  </main>
</Layout>
