---
import type { HTMLAttributes } from 'astro/types';
import { buttonVariants } from './ui/button';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];


---

<a href={href} class:list={["uppercase",buttonVariants({variant: 'link'}),className, { "text-black cursor-default pointer-events-none": isActive }]} {...props}>
	<slot />
</a>
