---
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

import { Container } from '@/components/ui/container';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { title = SITE_TITLE,description=SITE_DESCRIPTION } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={ title } description={description} />
	</head>
	<body>
		<Header />
		<Container>
    <slot />
	</Container>
		<Footer />
	</body>
</html>
